.jumbotron{
    background-color: burlywood ;
    color: black;
    margin-top: px;
}
.btn{
    background-color: darkseagreen;
}

.footer{
    background-color: red;
}

.card-hotel{
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    height: 100%;
    margin-top: 10px;
    
}

.btn-reserva{
width: 100%;

}

.footer-address-icon{
    padding-right: 10px;
}